html, body {
  font-size: 20px;
}
body.machine {
  font-family: monospace;
}
h1 {
  font-size: 2.8em;
  margin-top: 0px;
}
button {
  font-size: inherit;
}
.poetic-space {
  margin: 10px auto;
  padding: 20px;
  border-radius: 5px;
  border: #CCC 1px solid;
  min-height: 50vh;
}
.poetic-inner-space {
  display: none;
}
body.human .poetic-space {
  background: #f0f0f0;
  color: #000;
}
body.machine .poetic-space {
  background: #000;
  color: #fff;
}
body.cyborg .poetic-space {
  background: #f0f0f0;
  color: #000;
}
body.human #human-terminal.poetic-inner-space,
body.machine #machine-terminal.poetic-inner-space {
  display: inline-block;
}
#buttons {
  margin-top: 15px;
}
.lines > p {
  margin-top: 5px;
  margin-bottom: 5px;
}
#byline {
  font-style: italic;
}
.lines {
  display: none;
}
body.machine .human-line {
  display: none;
}
body.cyborg .human-phrase {
  text-decoration: line-through;
  background-color: #fbb6c2;
  color: #555;
}
body.cyborg .machine-phrase {
  background-color: #d4fcbc;
}
body.machine .typed-cursor, #machine-terminal::before {
  color: #ff355e;
}
#machine-terminal::before {
  content: 'self@omninet ~ $ ';
  font-family: sans-serif;
  font-weight: 600;
}
